<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="AutoSite.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information"/>
        </switches>
        <sharedListeners>
            <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <userSettings>
        <AutoSite.My.MySettings>
            <setting name="browserOpen" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="buildOpen" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="coreSplitterDistance" serializeAs="String">
                <value>340</value>
            </setting>
            <setting name="editorFont" serializeAs="String">
                <value>Courier New, 9.75pt</value>
            </setting>
            <setting name="editorOpen" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="explorerOpen" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="iconTheme" serializeAs="String">
                <value>vs2017</value>
            </setting>
            <setting name="LivePreview" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="maximized" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="openProject" serializeAs="String">
                <value />
            </setting>
            <setting name="recents" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema" />
                </value>
            </setting>
            <setting name="SyntaxHighlight" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="systemIcons" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="VirtualSpace" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WideCaret" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="windowLocation" serializeAs="String">
                <value />
            </setting>
            <setting name="WordWrap" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="exSplitterDistance" serializeAs="String">
                <value>214</value>
            </setting>
            <setting name="edSplitterDistance" serializeAs="String">
                <value>214</value>
            </setting>
            <setting name="language" serializeAs="String">
                <value />
            </setting>
        </AutoSite.My.MySettings>
    </userSettings>
<startup>
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0.3" />
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0.2" />
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0.1" />
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  <supportedRuntime version="v2.0.50727"/>
</startup></configuration>
